html, * {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 15rem 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 18px;
}

.sidebar {
    background-color: #1992d4;
    color: white;
    grid-row: span 4;
    padding: 10px;
    display: grid;
    align-content: start;
    gap: 5px;
    min-height: 100vh;
}

.sidebar-logo {  
    min-height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.sidebar-button {
    min-height: 25px;
    align-items: center;
    font-weight: 700;
    background-color: #1992d4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 0;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.sidebar-button:hover {
    background-color: #1574b6;
}

.header {
    background-color: white;
    grid-column: span 3;
    padding: 10px;
    display: grid;
}

.articles {
    background-color: #e2e8f0;
    grid-column: span 3;
    grid-row: span 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}

.header-cell {
    padding: 10px;
}

.header-cell-1 {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 0px 40px;
}

.profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.header-cell-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 0px 40px;
    gap: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.card-1 {
    background-color: #e2e8f0;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 1fr 1fr 1fr;
}

.card-2 {
    background-color: #e2e8f0;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr 25px 1fr;
}

.article-title-1 {
    grid-column: span 2;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.article-title-2 {
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.article-title-3 {
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.projects, .announcements, .trending {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.projects:hover, .announcements:hover, .trending:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
    z-index: 1;
    cursor: pointer;
}

.projects {
    border-left: 5px solid #f0b429;
}

.announcements {
    display: grid;
    gap: 10px;
    padding: 30px;
    grid-template-rows: 1fr 1fr 1fr;
}

.trending {
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.button {
    background-color: #1992d4;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #1574b6;
}

.search-container, #form {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 60px;
}

.search-logo {
    display: flex;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.icon {
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: transform 0.2s ease-in-out;
}

.icon:hover, .search-logo:hover, .welcome-icon:hover {
    transform: scale(1.05);
}

.welcome {
    display: grid;
    grid-template-columns: 125px 3fr;
}

.welcome-icon {
    grid-row: span 2;
    display: flex;
    transition: transform 0.2s ease-in-out;
}

#form {
    display: flex;
    align-items: center;
    background-color: #d6d6d6;
    border-radius: 25px;
    padding: 10px 15px;
    width: 100%;
}

#query {
    flex: 1;
    border: none;
    background: none;
    font-size: 16px;
}

button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #1992d4;
}

#hello {
    display: flex;
    align-items: end;
}

.projects > p, .users > p {
    font-size: 14px;
}

p {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: white;
}

h3, h6, .article-title-1 {
    white-space: nowrap;
}

.users:hover {
    background-color: #f0b429;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.users {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 800px) {
    .articles {
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 600px) {
    body, .articles, .header-cell-1, .header-cell-2, .header {
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
    }

    .sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        height: 50vh !important;
    }

    .sidebar-button, .sidebar-logo {
        text-align: center;
    }

    .sidebar-button {
        font-size: 24px;
        justify-content: center;
    }

    .header-cell-1 {
        display: none;
    }

    .welcome {
        grid-template-columns: 1fr;
    }

    .header-cell-2 {
        margin-bottom: 50px;
    }

    .welcome-icon, p, h3 {
        justify-content: center;
        text-align: ce;
    }

    svg {
        width: 200px;
    }

    .button-container {
        margin: 0 10px;
    }
}