html, * {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    display: grid;
    grid-template-columns: 12em 1fr 1fr;
    height: 100vh;
    gap: 10px;
}

.sidebar, .header, .articles {
    background-color: bisque;
}